# Logs
logs/
*.log
*-debug.log*
*-error.log*

node_modules/
dist/
dist-ssr/
*.local/
frontend/eslint_report.json
eslint_report.md

# Editor directories and files
.vscode/*
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
