# Directories
*.local/
.fallow/
.idea/
.stitch/
.vscode/
dist-ssr/
dist/
logs/
node_modules/
tmp/

# Files
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env
.env*.local
.vercel/
eslint_report.json
eslint_report.md
