@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VarelaRound';
  src: url(/fonts/VarelaRound-Regular.ttf);
}

* {
  font-family: 'VarelaRound';
  margin: 0;
  padding: 0;
}


.divsplit-container {
  @apply transition duration-300 ease-in-out;
}

.dark{
  background-color: black;
  color: white;
}

.light{
  background-color: white;
  color: black;
}
