@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'VarelaRound';
	src: url(/fonts/VarelaRound-Regular.ttf);
}

* {
	font-family: 'VarelaRound', sans-serif;
	margin: 0;
	padding: 0;
}

html,
body,
[data-theme] {
	width: 100%;
	@apply bg-base-200;
}

.ds-card {
	@apply bg-base-100 card border p-5;
}

.prose {
	h2 {
		@apply mt-8;
	}
}
